@use 'custom';

// Import components
@use 'components/animations';
@use 'components/buttons';
@use 'components/mixins';
@use 'components/typography';

// Import pages
@use 'sections/home';
@use 'sections/courses';
@use 'sections/about';
@use 'sections/faculty-organization';
@use 'sections/research';
@use 'sections/support';
@use 'sections/news';
@use 'sections/article';
@use 'sections/news-master-page';
@use 'sections/contact-us';
@use 'sections/subjects';
