@use '../custom' as *;
@use '../components/mixins' as *;

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@200;400&display=swap');

.about-hero-section {
  position: relative;
  height: 50vh;
  // background-color: white;
  background-image: url('/images/about/BLDNG.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; /* Lower z-index */
}

.about-hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.8)
  ); /* Gradient */
  z-index: 0; /* Lower z-index, behind the content */
}

.hero-caption {
  position: relative; /* Add position relative */
  z-index: 2; /* Higher z-index */
}

.mission-vision-title {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 0;
  color: $accent_one;
}

.section-subtitle {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

// Mission
.mission-section {
  position: relative; /* Add position relative */
  height: 80vh;
  background-image: url('/images/about/CAS.JPG');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; /* Lower z-index */
}

.mission-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.8)
  ); /* Gradient */
  z-index: 0; /* Lower z-index, behind the content */
}

.mission-content {
  position: relative; /* Add position relative */
  z-index: 2; /* Higher z-index */
  text-align: center; /* Center the content */
  color: white; /* Change text color to contrast with the background */
}

// Vision
.vision-section {
  position: relative; /* Add position relative */
  height: 80vh;
  background-image: url('/images/about/BASEMENT.JPG');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; /* Lower z-index */
}

.vision-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)); /* Gradient */
  z-index: 0; /* Lower z-index, behind the content */
}

.vision-content {
  position: relative; /* Add position relative */
  z-index: 2; /* Higher z-index */
  text-align: center; /* Center the content */
  color: white; /* Change text color to contrast with the background */
}
/* Style for division title */

.division-title {
  font-family: 'Oswald', 'Times New Roman', Times, serif;
  text-decoration: none;
  color: $accent_two;
}

/* Media Queries */

@media (max-width: 200px) {
  /* Adjust division title font size and image-width for smallest screens */

  .division-title {
    font-size: 0.2rem;
  }

  .dpsm-logo-about {
    width: 30px;
  }
}

@media (min-width: 200px) and (max-width: 400px) {
  /* Adjust division title font size and image-width for smallest screens */

  .division-title {
    font-size: 0.9rem;
  }

  .dpsm-logo-about {
    width: 80px;
  }
}

@media (min-width: 401px) and (max-width: 571px) {
  /* Adjust division title font size and image-width for smallest screens */

  .division-title {
    font-size: 1.2rem;
  }

  .dpsm-logo-about {
    width: 80px;
  }
}

@media (min-width: 571px) and (max-width: 768px) {
  /* Adjust division title font size and image-width for smallest screens */
  .division-title {
    font-size: 1.5rem;
  }

  .dpsm-logo-about {
    width: 120px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  /* Adjust division title font size and image-width for smallest screens */

  .division-title {
    font-size: 2rem;
  }

  .dpsm-logo-about {
    width: 160px;
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  /* Default styles for larger screens */
  .division-title {
    font-size: 3rem;
  }

  .dpsm-logo-about {
    width: 210px;
  }
}

/* Container for division title */
.division-title-container {
  width: 60%;
}
