@use '../custom' as *;
@use '../components/mixins' as *;

.article-hero-section {
  position: relative;
  height: 50vh;
  background-image: url('/images/article-hero.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-image-section {
  position: relative;
  height: 30vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
}

.article-title {
  display: block;
  width: 100%;
  cursor: pointer;
  font-family: 'Oswald', Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  border: none;
  background-color: transparent;
  margin-bottom: 1rem;
}

.container-image {
  display: grid;
  height: 500px;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'pic1 pic2 pic2'
    'pic1 pic3 pic4';
  grid-gap: 3px;
}

#pic1 {
  grid-area: pic1;
  background-size: cover;
  background-position: center;
}

#pic2 {
  grid-area: pic2;
  background-size: cover;
  background-position: center;
}

#pic3 {
  grid-area: pic3;
  background-size: cover;
  background-position: center;
}

#pic4 {
  grid-area: pic4;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 600px) {
  .container-image {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 2fr 2fr;
    grid-template-areas:
      'pic1'
      'pic2'
      'pic3'
      'pic4';
  }
}

.article-header {
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  .position-title {
    font-size: 15px;
    padding-right: 25px;
  }
  .feature-article {
    padding-left: 25px;
  }

  @media only screen and (max-width: 800px) {
    font-size: 15px;

    .position-title {
      font-size: 12px;
    }
  }

  @media only screen and (max-width: 550px) {
    font-size: 9px;

    .position-title {
      font-size: 8px;
    }
  }
}

.solid-line {
  border-top: 2px solid #000;
  margin-top: 10px;
  margin-bottom: 10px;
}

.references-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: 'Open Sans', sans-serif;
}

.references {
  font-style: italic;
  flex: 1;

  @media only screen and (max-width: 550px) {
    font-size: 15px;
  }

  @media only screen and (max-width: 800px) {
    font-size: 15px;
  }
}

.image-source {
  font-style: italic;
  flex: 1;
  margin-left: 20px;
  font-family: 'Open Sans', sans-serif;

  @media only screen and (max-width: 550px) {
    font-size: 15px;
  }

  @media only screen and (max-width: 800px) {
    font-size: 15px;
  }
}
