@use '../custom' as *;
@use '../components/mixins' as *;

.article-hero-section {
  position: relative;
  height: 50vh;
  background-image: url('/images/article-hero.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-image-section {
  position: relative;
  height: 30vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
}

.article-title {
  display: block;
  width: 100%;
  cursor: pointer;
  font-family: 'Oswald', Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  border: none;
  background-color: transparent;
  margin-bottom: 1rem;
}

.fibonacci-image {
  display: grid;
  width: auto; /* Remove fixed width to prevent overflow */
  grid-gap: 3px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Adjust based on your design needs */
}

.fibonacci-image div {
  width: 100%; /* Ensure full width within the grid */
  padding-top: 56.25%; /* Maintain aspect ratio */
  background-size: cover;
  background-position: center;
}

/* Ensure images scale down on smaller screens */
@media only screen and (max-width: 600px) {
  .fibonacci-image {
    grid-template-columns: 1fr; /* Stack images vertically on small screens */
  }
}


/* Responsive Video Embed */
.video-responsive {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  height: 0;
  overflow: hidden;
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
