@use '../custom' as *;
@use '../components/mixins' as *;


@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

.hero-caption {
  position: relative; /* Add position relative */
  z-index: 2; /* Higher z-index */
}

.section-subtitle {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif
}

/* Hide scrollbar of sticky sidebar */
html {
    overflow: scroll;
    overflow-x: hidden;
}

.support-sticky-sidebar::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.support-sticky-sidebar {
    position: sticky;
    top: 20vh; /* Adjust as needed */
    height: calc(100vh - 40px); /* Account for padding */
    overflow-y: auto;
  }
  
  /* Main content styles */
  .support-main-content {
    padding: 20px;
    height: 100%;
    overflow-y: auto;
  }
  
.form-title {
  color: rgb(25, 42, 84);
  font-weight: bold;
  font-size: large;
}

.contact-us-container {
  background-color: #e9ecef;
}

.custom-input {
  height: 3rem;
}
