@use '../custom' as *;
@use '../components/mixins' as *;

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@200;400&display=swap');

.hero-section {
    position: relative;
    height: 50vh;
    background-image: url('/images/comsci-hero.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-caption {
    font-family: 'Oswald';
    text-align: center;
    color: white;
  }

.course-subtitle {
  font-family: 'Oswald';
  color: $accent_one;
}

.course-subvalue {
  font-family: 'Open Sans';
}

.center-buttons {
  display: flex;
  justify-content: space-between;
}

.collapse-button {
  cursor: hover;
  font-size: 1.875rem;
  padding: 1.875rem;
  font-family: 'Oswald', Verdana, Geneva, Tahoma, sans-serif;
}

.collapse-button:hover {
  background-color: $accent_one;
}
div.card.card-body {
  border-top: 5px solid $accent_one;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.course-info-active {
  background-color: $accent_one;
}