@use '../custom' as *;
@use '../components/mixins' as *;

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@200;400&display=swap');

.comsci-hero-section {
  position: relative;
  height: 50vh;
  // background-color: white;
  background-image: url('/images/per-course-hero/computer-science-hero.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; /* Lower z-index */
}

.comsci-hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8)); /* Gradient */
  z-index: 0; /* Lower z-index, behind the content */
}

.hero-caption {
  position: relative; /* Add position relative */
  z-index: 2; /* Higher z-index */
}


.stats-hero-section {
  position: relative;
  height: 50vh;
  background-image: url('/images/per-course-hero/statistics-hero.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats-hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8)); /* Gradient */
  z-index: 0; /* Lower z-index, behind the content */
}


.appmath-hero-section {
  position: relative;
  height: 50vh;
  background-image: url('/images/per-course-hero/applied-mathematics-hero.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appmath-hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8)); /* Gradient */
  z-index: 0; /* Lower z-index, behind the content */
}


.hero-caption {
  font-family: 'Oswald';
  text-align: center;
  color: white;
}

.course-subtitle {
  font-family: 'Oswald';
  color: $accent_one;
}

.course-subvalue {
  font-family: 'Open Sans';
}

/* Default styles */
.collapse-button {
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.875rem;
  padding: 1.875rem;
  font-family: 'Oswald', Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  border: none;
  background-color: transparent;
  border-bottom: 0.2rem solid $accent_one;
  margin-bottom: 0;
  border-radius: 0%;
}

/* Hover styles */
.collapse-button:hover {
  background-color: $accent_one;
  color: $white;
}

/* Active styles */
.course-info-active {
  background-color: $accent_one;
  color: $white;
}

/* Sidebar styles */
.sidebar {
  padding: 20px;
  border-right: 0.2rem solid $accent_one;
  height: 100%;
  overflow-y: auto;
}

/* Card body styles */
div.card.card-body {
  border-radius: 0;
  border: none;
  height: auto;
}

.computer-science-org-name {
  font-family: 'Consolas';
}

/* Media Queries */
@media (max-width: 540px) {
  /* Adjust font size and padding for smaller screens */
  .collapse-button {
    font-size: 0.5rem;
    padding: 0.5rem 1rem; /* Adjust top/bottom padding and left/right padding */
    margin-bottom: 1rem;
  }
}

@media (min-width: 541px) and (max-width: 767px) {
  /* Adjust font size and padding for small screens */
  .collapse-button {
    font-size: 0.9rem;
    padding: 0.75rem 1rem; /* Adjust top/bottom padding and left/right padding */
    margin-bottom: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Adjust font size and padding for medium screens */
  .collapse-button {
    font-size: 1.5rem;
    padding: 1rem 1.5rem; /* Adjust top/bottom padding and left/right padding */
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 992px) {
  /* Default styles for larger screens */
  .collapse-button {
    font-size: 1.875rem;
    padding: 1.875rem;
    margin-bottom: 0;
  }
}
// /* Hide scrollbar */
// html {
//     overflow: scroll;
//     overflow-x: hidden;
// }
// ::-webkit-scrollbar {
//     width: 0;  /* Remove scrollbar space */
//     background: transparent;  /* Optional: just make scrollbar invisible */
// }
// /* Optional: show position indicator in red */
// ::-webkit-scrollbar-thumb {
//     background: #FF0000;
// }

/* Carousel */
.carousel-inner img {
  object-fit: cover;
  max-width: 100%;
  height: 400px; /* Set the desired height for the carousel images */
}

/* Course Organization Section */
.section-title {
  font-family: 'Oswald', Verdana, Geneva, Tahoma, sans-serif;
}

.course-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-30px);
  }

  100% {
    transform: translatey(0px);
  }
}

@keyframes shadow {
  0% {
    filter: blur(10px);
    transform: scale(1);
  }

  50% {
    filter: blur(16px);
    transform: scale(1.5);
  }

  100% {
    filter: blur(10px);
    transform: scale(1);
  }
}

.course-logo-container {
  display: block;
  animation: float 6s ease-in-out infinite;
}

.shadow {
  width: 250px;
  height: 30px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  filter: blur(10px);
  animation: shadow 6s ease-in-out infinite;
  text-align: center;
}

/* Prospectus Section */
.prospectus-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.prospectus-table-container {
  overflow: auto;
  max-height: 500px;
}

.prospectus-table {
  min-width: 600px;
  table-layout: fixed;

  td {
    padding-left: 1rem;
    padding-right: 1rem;

    a {
      color: $accent_one;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* Apply sticky positioning of the header columns */
.prospectus-table-container {
  overflow-y: auto;
  /* Adjust max-height as needed to ensure scrolling is enabled */
  max-height: 500px;
}

/* Reset margins and padding that could affect the header positioning */
.table {
  margin-bottom: 0; /* Remove default margin from .table class if it exists */
}

.prospectus-table thead th {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 2; /* Ensure it's above other content */
  margin: 0; /* Reset margin */
  padding: 0.75rem; /* Adjust padding as needed, but ensure it's uniform */
}

/* Additional reset for potential inherited styles */
.prospectus-table-container{
  margin: 0;
  padding: 0;
  border-collapse: collapse; /* Ensure table elements are tightly packed */
}
