@use '../custom' as *;
@use '../components/mixins' as *;

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@200;400&display=swap');

.comsci-hero-section {
  position: relative;
  height: 50vh;
  background-image: url('/images/comsci-hero.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats-hero-section {
  position: relative;
  height: 50vh;
  background-image: url('/images/homepage-hero.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appmath-hero-section {
  position: relative;
  height: 50vh;
  background-image: url('/images/homepage-hero.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-caption {
  font-family: 'Oswald';
  text-align: center;
  color: white;
}

.course-subtitle {
  font-family: 'Oswald';
  color: $accent_one;
}

.course-subvalue {
  font-family: 'Open Sans';
}

/* Default styles */
.collapse-button {
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.875rem;
  padding: 1.875rem;
  font-family: 'Oswald', Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  border: none;
  background-color: transparent;
  border-bottom: 0.2rem solid $accent_one;
  margin-bottom: 0;
  border-radius: 0%;
}

/* Hover styles */
.collapse-button:hover {
  background-color: $accent_one;
  color: $white;
}

/* Active styles */
.course-info-active {
  background-color: $accent_one;
  color: $white;
}

/* Sidebar styles */
.sidebar {
  padding: 20px;
  border-right: 0.2rem solid $accent_one;
  height: 100%;
  overflow-y: auto;
}

/* Card body styles */
div.card.card-body {
  border-radius: 0;
  border: none;
  height: auto;
}

.computer-science-org-name {
  font-family: 'Consolas';
}

/* Media Queries */
@media (max-width: 540px) {
  /* Adjust font size and padding for smaller screens */
  .collapse-button {
    font-size: 0.5rem;
    padding: 0.5rem 1rem; /* Adjust top/bottom padding and left/right padding */
    margin-bottom: 1rem;
  }
}

@media (min-width: 541px) and (max-width: 767px) {
  /* Adjust font size and padding for small screens */
  .collapse-button {
    font-size: 0.9rem;
    padding: 0.75rem 1rem; /* Adjust top/bottom padding and left/right padding */
    margin-bottom: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Adjust font size and padding for medium screens */
  .collapse-button {
    font-size: 1.5rem;
    padding: 1rem 1.5rem; /* Adjust top/bottom padding and left/right padding */
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 992px) {
  /* Default styles for larger screens */
  .collapse-button {
    font-size: 1.875rem;
    padding: 1.875rem;
    margin-bottom: 0;
  }
}

/* Footer */
.footer-with-image {
  background-size: contain; /* Maintain aspect ratio and cover entire section */
  background-repeat: no-repeat;
  background-position: center bottom;
  color: white;
  padding-bottom: 8px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

/* Media Queries */
@media (max-width: 540px) {
  .footer-with-image {
    background-size: cover; /* Maintain aspect ratio and cover entire section */
    padding-top: 100px; /* Adjust vertical spacing */
  }
}

@media (min-width: 541px) and (max-width: 767px) {
  .footer-with-image {
    background-size: cover; /* Maintain aspect ratio and cover entire section */
    padding-top: 150px; /* Adjust vertical spacing */
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer-with-image {
    background-size: cover; /* Maintain aspect ratio and cover entire section */
    padding-top: 80px; /* Adjust vertical spacing */
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .footer-with-image {
    background-size: cover; /* Maintain aspect ratio and cover entire section */
    padding-top: 50px; /* Adjust vertical spacing */
  }
}

@media (min-width: 1025px) {
  .footer-with-image {
    background-size: cover; /* Maintain aspect ratio and cover entire section */
  }
}

.footer-icons {
}

.footer-content {
}

.footer-heading {
  font-family: 'Oswald', Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
}

.footer-division-text {
  font-size: 1.8rem;
}

.footer-horizontal-line {
  border: 1px solid white;
}

.footer-subtitle {
  padding: 0;
  font-size: 0.65rem;
}

.footer-nav {
  padding: 0;
}

.footer-nav .navbar-nav .nav-item {
  color: white;
  text-align: center;
}

.footer-buttons {
}

/* Media Queries */
@media (max-width: 540px) {
  /* Adjust font size and padding for smaller screens */
  .footer-heading {
    padding-top: 4rem;
    text-align: center;
    font-size: 1rem;
    margin-top: 0.8rem;
  }

  .footer-division-text {
    font-size: 1.2rem;
  }

  .footer-nav .navbar-nav {
    display: flex;
    flex-direction: row;
  }
  .footer-nav .navbar-nav .nav-item {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-size: 1.2rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }

  .footer-icons {
    padding-bottom: 0.8rem;
  }

  /* Add other adjustments for smaller screens */
}

@media (min-width: 541px) and (max-width: 767px) {
  /* Adjust font size and padding for small screens */
  .footer-heading {
    padding-top: 8rem;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }

  .footer-division-text {
    font-size: 1.8rem;
  }

  .footer-nav .navbar-nav {
    display: flex;
    flex-direction: row;
  }
  .footer-nav .navbar-nav .nav-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .footer-icons {
    padding-bottom: 1rem;
  }

  /* Add other adjustments for small screens */
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Adjust font size and padding for medium screens */
  .footer-heading {
    padding-top: 8rem;
    font-size: 1.8rem;
    margin-top: 2rem;
  }

  .footer-division-text {
    font-size: 1.5rem;
  }

  .footer-icons {
    padding-right: 2rem;
  }

  .footer-nav .navbar-nav .nav-item {
    font-size: 0.875rem;
    padding: 0;
  }

  .footer-buttons svg {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  /* Add other adjustments for medium screens */
}

@media (min-width: 992px) {
  /* Default styles for larger screens */
  .footer-heading {
    padding-top: 8rem;
    font-size: 2rem;
    margin-top: 0;
  }

  .footer-division-text {
    font-size: 1.25rem;
  }

  /* Add other adjustments for larger screens */
}

// /* Hide scrollbar */
// html {
//     overflow: scroll;
//     overflow-x: hidden;
// }
// ::-webkit-scrollbar {
//     width: 0;  /* Remove scrollbar space */
//     background: transparent;  /* Optional: just make scrollbar invisible */
// }
// /* Optional: show position indicator in red */
// ::-webkit-scrollbar-thumb {
//     background: #FF0000;
// }

/* Carousel */
.carousel-inner img {
  object-fit: cover;
  max-width: 100%;
  height: 400px; /* Set the desired height for the carousel images */
}

/* Course Organization Section */
.section-title {
  font-family: 'Oswald', Verdana, Geneva, Tahoma, sans-serif;
}

.course-logo-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-30px);
  }

  100% {
    transform: translatey(0px);
  }
}

@keyframes shadow {
  0% {
    filter: blur(10px);
    transform: scale(1);
  }

  50% {
    filter: blur(16px);
    transform: scale(1.5);
  }

  100% {
    filter: blur(10px);
    transform: scale(1);
  }
}

.course-logo-container {
  display: block;
  animation: float 6s ease-in-out infinite;
}

.shadow {
  width: 250px;
  height: 30px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  filter: blur(10px);
  animation: shadow 6s ease-in-out infinite;
  text-align: center;
}

/* Course Features & Highlights */

/* Prospectus Section */
.prospectus-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.prospectus-table-container {
  overflow: auto;
  max-height: 500px;
}

.prospectus-table {
  min-width: 600px;

  td {
    padding-left: 1rem;
    padding-right: 1rem;

    a {
      color: $accent_one;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
