@use '../custom' as *;
@use '../components/mixins' as *;

.faculty-hero-section {
  position: relative;
  height: 50vh;
  // background-color: white;
  background-image: url('/images/cs-faculty/group_computer-science-faculty_hero.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; /* Lower z-index */
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8)); /* Gradient */
  z-index: 0; /* Lower z-index, behind the content */
}

.hero-caption {
  position: relative; /* Add position relative */
  z-index: 2; /* Higher z-index */
}

/* Sticky Sidebar styles */
.sticky-sidebar {
    position: sticky;
    top: 20vh; /* Adjust as needed */
    height: calc(100vh - 40px); /* Account for padding */
    overflow-y: auto;
}
  
/* Main content styles */
.main-content {
  padding: 20px;
  height: 100%;
  overflow-y: auto;
}
  
.faculty-sidebar {
  padding: 20px;
  position: sticky;
  border-right: 0.2rem solid rgb(255, 183, 3);
  background-color: white;
  height: 100%;
  overflow-y: auto;
  z-index: 1020;
}