@use '../custom' as *;
@use '../components/mixins' as *;

img.facilities{
    height: auto;
    width: 100%;
    margin:0;    
}
.facilities-img1{
    width: 100%;
    padding: 0;
    height: auto;
    margin: 0;  
}
.facilities-img2 img{
    width: auto;
    padding: 0;
    height: 100%;
    margin: 0;
}
.facilities-img2{
    overflow-x:hidden ;
}
// div.facilities{
//     width: 70%;
// }      