@use '../custom' as *;
@use '../components/mixins' as *;

img.facilities{
    height: auto;
    width: 100%;
    
}

.facilities-img1{
    display: flex;
    overflow: hidden;
    height: 400px;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding:0;
}
.facilities-img2{
    width: 100%;
    padding: 0;
    height: auto;
    background-color: red;  
}   
.facilities-img3{
    padding:0;
    margin: 0;
    overflow: hidden;
    
}
.facilities-img3 img{
    width: 100%;
    height: auto;
}

.facilities-nested{
    margin: 0;
    padding: 0; 
}
