@use '../custom' as *;
@use '../components/mixins' as *;


@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');


// Globals
.text-justify {
    text-align: justify;
}

a {
  text-decoration: none;
}


.logo-highlight {
    transition: transform 0.2s ease-in-out;
}

.logo-highlight:hover {
    transform: scale(1.1);
}

.university-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.upper-division-name {
    font-family: 'Oswald', 'Times New Roman', Times, serif;
    color: white;
    text-decoration: none;
    text-wrap: wrap;
}

.division-name {
    font-family: 'Oswald', 'Times New Roman', Times, serif;
    text-decoration: none;
    color: $accent_two;
    text-wrap: wrap;
}

.text-link {
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
  text-decoration: none;

  &:hover {
    transform: translateY(-5px);
    text-decoration: none;
    color: $accent_two;
  }
}

/* Hide the division-navbar by default */
.division-navbar {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

/* Show the division-navbar when needed */
.division-navbar.show {
    opacity: 1;
    visibility: visible;
    text-align: center;
}

.course-card {
  transition: transform 0.3s ease;
}

.course-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.sm-course-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(-50px);
  }
}

.shadow {
  width: 250px;
  height: 30px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  filter: blur(10px);
  animation: shadow 6s ease-in-out infinite;
  text-align: center;
}

@keyframes shadow {
  0%, 100% {
      filter: blur(10px);
      transform: scale(1);
  }
  50% {
      filter: blur(16px);
      transform: scale(1.5);
  }
}

// Navbar text and hovers
.nav-link, .bottom-nav-link{
  color: #f5f5f5;
  font-family: 'Open Sans', 'Times New Roman', Times, serif;
  font-size: 1.1rem;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-nav-link {
  color: black !important;
}
.bottom-nav-link:hover {
  transform: scale(1.1);
  color: $accent_two !important;
}
.nav-link:hover {
  transform: scale(1.1);
  color: $accent_two;
}

.dropdown-toggle:hover {
  transform: scale(1.1);
  color: $accent_two;
}

.nav-item.dropdown:hover .dropdown-menu .dropdown-item {
  color: black;
  font-family: 'Open Sans', 'Times New Roman', Times, serif;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}

.nav-item.dropdown:hover .dropdown-menu .dropdown-item:hover {
  transform: scale(1.1);
  color: $accent_two;
}

// Dropdown
.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }
  .navbar-nav .nav-item.dropdown .dropdown-menu {
    display: none;
  }

// Carousel
.carousel-inner .carousel-item {
    width: 100%; /* Set a fixed height for the carousel images */
    height: 100%;
    object-fit: contain; /* Ensure the images retain their aspect ratio while covering the entire available space */
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

// Wrapping
.upper-division-name {
  font-family: 'Oswald', 'Times New Roman', Times, serif;
  overflow-wrap: break-word;
  word-break: break-word; 
}

/* Adjusting the navbar brand container to ensure it handles wrapping correctly */
.university-navbar, .division-navbar {
  display: flex;
  flex-wrap: wrap; /* This allows the content within the navbar to wrap */
  justify-content: center; /* Keeps items centered */
  align-items: center; /* Aligns items vertically in the center */
  gap: 0.5rem; /* Provides some spacing between items */
}

/* Media Queries */
@media (max-width: 200px) {
    .upper-division-name {
        font-family: 'Oswald', 'Times New Roman', Times, serif;
    }
}

/* smallest screens */
@media (min-width: 200px) and (max-width: 400px) {
    .upper-division-name {
        font-family: 'Oswald', 'Times New Roman', Times, serif;
    }
}


/* small screens */
@media (min-width: 401px) and (max-width: 577px) {
    .upper-division-name {
        font-family: 'Oswald', 'Times New Roman', Times, serif;
    }
}

// Medium devices (tablets, 768px and below)
@media (min-width: 577px) and (max-width: 768px) { 
    .upper-division-name {
        font-family: 'Oswald', 'Times New Roman', Times, serif;
    }
} 

// Media Queries
// Large devices (desktops, 992px and below)

@media (max-width: 992px) {
    .upper-division-name {
        font-family: 'Oswald', 'Times New Roman', Times, serif;
    }

    .container.university-navbar, .container.division-navbar {
      justify-content: space-between !important; /* Override any previous justify-content settings */
  }

  .navbar-collapse {
      flex-basis: 100%; /* Ensure the navbar collapse takes full width if needed */
      flex-grow: 1;
  }

  /* Additional adjustments for navbar toggler visibility and positioning */
  .navbar-toggler {
      display: block; /* Ensure toggler is visible */
      margin-left: auto; /* Align toggler to the right */
  }
}

/* Footer */
.footer-with-image {
    background-size: contain; /* Maintain aspect ratio and cover entire section */
    background-repeat: no-repeat;
    background-position: center bottom;
    color: white;
    padding-bottom: 8px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
  }

  .footer-heading {
    font-family: 'Oswald', Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
  }
  
  .footer-division-text {
    font-size: 1.8rem;
  }
  
  .footer-horizontal-line {
    border: 1px solid white;
  }
  
  .footer-subtitle {
    padding: 0;
    font-size: 0.65rem;
  }
  
  .footer-nav {
    padding: 0;
  }
  
  .footer-nav .navbar-nav .nav-item {
    color: white;
    text-align: center;
  }
  
  /* Media Queries */
  @media (max-width: 540px) {
    .footer-with-image {
      background-size: cover; /* Maintain aspect ratio and cover entire section */
      padding-top: 100px; /* Adjust vertical spacing */
    }

    /* Adjust font size and padding for smaller screens */
    .footer-heading {
        padding-top: 8rem;
        text-align: center;
        font-size: 1rem;
        margin-top: 0.8rem;
      }
    
      .footer-division-text {
        font-size: 1.2rem;
      }
    
      .footer-nav .navbar-nav {
        display: flex;
        flex-direction: row;
      }
      .footer-nav .navbar-nav .nav-item {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        font-size: 1.2rem;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
      }
    
      .footer-icons {
        padding-bottom: 0.8rem;
      }      
  }
  
  @media (min-width: 541px) and (max-width: 767px) {
    .footer-with-image {
      background-size: cover; /* Maintain aspect ratio and cover entire section */
      padding-top: 150px; /* Adjust vertical spacing */
    }

    /* Adjust font size and padding for small screens */
    .footer-heading {
        padding-top: 8rem;
        text-align: center;
        font-size: 1.5rem;
        margin-top: 1.5rem;
      }
    
      .footer-division-text {
        font-size: 1.8rem;
      }
    
      .footer-nav .navbar-nav {
        display: flex;
        flex-direction: row;
      }
      .footer-nav .navbar-nav .nav-item {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    
      .footer-icons {
        padding-bottom: 1rem;
      }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .footer-with-image {
      background-size: cover; /* Maintain aspect ratio and cover entire section */
      padding-top: 80px; /* Adjust vertical spacing */
    }

    /* Adjust font size and padding for medium screens */
    .footer-heading {
        padding-top: 8rem;
        font-size: 1.8rem;
        margin-top: 2rem;
      }
    
      .footer-division-text {
        font-size: 1.5rem;
      }
    
      .footer-icons {
        padding-right: 2rem;
      }
    
      .footer-nav .navbar-nav .nav-item {
        font-size: 0.875rem;
        padding: 0;
      }
    
      .footer-buttons svg {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
      }
  }
  
  @media (min-width: 992px) {
    .footer-with-image {
      background-size: cover; /* Maintain aspect ratio and cover entire section */
      padding-top: 50px; /* Adjust vertical spacing */
    }

    /* Default styles for larger screens */
    .footer-heading {
        padding-top: 8rem;
        font-size: 2rem;
        margin-top: 0;
      }
    
      .footer-division-text {
        font-size: 1.25rem;
      }
  }
  
  @media (min-width: 1025px) {
    .footer-with-image {
      background-size: cover; /* Maintain aspect ratio and cover entire section */
    }
  } 

// Animation
.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.zitat1 {
  position: relative;
  font-family: 'Open Sans', 'Times New Roman', Times, serif;
  font-size: 1.5em;
  line-height: 1.5em;
}
.zitat1 cite {
  font-size: 1.5em;
  font-weight: 700;
  color: $accent_two;
  float: right;
  text-align: end;
}
.zitat1 cite:before {
  content: '\2015'' ';
}

.zitat1:before {
  content: '\201d';
  position: absolute;
  top: 0.10em;
  left: -0.75em;
  font-size: 4em;
  font-style: italic;
  color: $accent_two;
  z-index: -1;
}
.zitat1:after {
  content: '\201d';
  position: absolute;
  top: 2.5em;
  right: -0.45em;
  font-size: 4em;
  font-style: italic;
  color: $accent_two;
  z-index: -1;
}