@use '../custom' as *;
@use '../components/mixins' as *;


@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

// Globals
.text-justify {
    text-align: justify;
}

.logo-highlight {
    transition: transform 0.2s ease-in-out;
}

.logo-highlight:hover {
    transform: scale(1.1);
}

.university-name {
    font-family: 'Oswald', 'Times New Roman', Times, serif;
}

.division-name {
    font-family: 'Oswald', 'Times New Roman', Times, serif;
    font-weight: lighter;
}

// Carousel
.carousel-item .carousel-image {
    width: 100%; /* Set a fixed height for the carousel images */
    height: 100%;
    object-fit: cover; /* Ensure the images retain their aspect ratio while covering the entire available space */
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

