@use '../custom' as *;
@use '../components/mixins' as *;


.news-hero-section {
    position: relative;
    height: 50vh;
    background-image: url('/images/news-hero.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.news-hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8)); /* Gradient */
  z-index: 0; /* Lower z-index, behind the content */
}

.card {
  border: none;
  gap:2;
}
img,
.card-img-top {
  border-radius: 0em;
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 4;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 5;
  }
}
