@use '../custom' as *;
@use '../components/mixins' as *;

.news-master-hero-section {
  position: relative;
  height: 50vh;
  // background-color: white;
  background-image: url('/images/mission.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; /* Lower z-index */
}

.news-master-hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8)); /* Gradient */
  z-index: 0; /* Lower z-index, behind the content */
}

.news-master-caption {
  position: relative; /* Add position relative */
  z-index: 2; /* Higher z-index */
}

.smaller-image {
  max-height: 400px;
  width: 100%;
  object-fit: cover;
}

.title-main {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.auth-date-main {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.desc-main {
  margin-bottom: 1rem;
}

.main-news-card {
  position: relative;
  overflow: hidden;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  color: #fff;
  background:linear-gradient( 360deg,
  rgba(0, 0, 0, 0.9) 0%,
  rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.main-news-card-title {
  margin-bottom: var(--bs-card-title-spacer-y);
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  bottom: 0.25rem;
  color: #fff;
}

.main-news-card-text {
  position: absolute;
  margin-bottom: var(--bs-card-title-spacer-y);
  bottom: 1rem;
  left: 0;
  padding: 1rem;
  overflow: hidden;
  color: #fff;
  opacity: 0;
  max-height: 5em;
  line-height: 1.3em;
  text-overflow: ellipsis;
}

.card-overlay .main-news-card-title {
  opacity: 1;
}

.card-overlay:hover .main-news-card-text {
  opacity: 1;
  transition: opacity 2s ease;
}

.main-news-card:hover .card-overlay {
  opacity: 1;
}

.main-news-card:hover .main-news-card-title {
  bottom: 5rem;
  opacity: 1;
  transition:
    bottom 0.5s ease,
    opacity 0.3s ease;
}

.main-news-card:hover .main-news-card-text {
  opacity: 1;
}

.random-description {
  margin-top: 0.5rem;
}

.course-news-card {
  position: relative;
  overflow: hidden;
}

.course-news-card-title {
  position: absolute;
  bottom: 1rem;
  left: 0;
  padding: 1rem;
  color: #fff;
  opacity: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.course-news-card {
  position: relative;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: auto;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:linear-gradient( 360deg,
  rgba(0, 0, 0, 0.6) 0%,
  rgba(255, 255, 255, 0) 50%);
}


.course-news-card-text {
  position: absolute;
  margin-bottom: var(--bs-card-title-spacer-y);
  bottom: 1rem;
  left: 0;
  padding: 1rem;
  color: #fff;
  opacity: 0;
  overflow: hidden;
  max-height: 5em;
  line-height: 1.3em;
  text-overflow: ellipsis;
}

.course-news-card:hover .card-overlay {
  opacity: 1;
}

.course-news-card:hover .course-news-card-title,
.card-overlay:hover .course-news-card-title {
  opacity: 1;
  bottom: 5rem;
  transition:
    bottom 0.5s ease,
    opacity 0.3s ease;
}

.card-overlay:hover .course-news-card-text {
  opacity: 1;
  transition: opacity 2s ease;
}
