@use '../custom' as *;
@use '../components/mixins' as *;

.news-master-hero-section {
  position: relative;
  height: 50vh;

  background-image: url('/images/vision.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.smaller-image {
  max-height: 400px;
  width: 100%;
  object-fit: cover;
}

.title-main {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.auth-date-main {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.desc-main {
  margin-bottom: 1rem;
}

.main-news-card {
  position: relative;
  overflow: hidden;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.main-news-card-title {
  margin-bottom: var(--bs-card-title-spacer-y);
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: #fff;
  opacity: 1;
}

.main-news-card-text {
  position: absolute;
  margin-bottom: var(--bs-card-title-spacer-y);
  bottom: 1rem;
  left: 0;
  padding: 1rem;
  color: #fff;
  opacity: 0;
}

.card-overlay .main-news-card-title {
  opacity: 1;
}

.card-overlay:hover .main-news-card-text {
  opacity: 1;
  transition: opacity 2s ease;
}

.main-news-card:hover .card-overlay {
  opacity: 1;
}

.main-news-card:hover .main-news-card-title {
  bottom: 3rem;
  opacity: 1;
  transition:
    bottom 0.5s ease,
    opacity 0.3s ease;
}

.main-news-card:hover .main-news-card-text {
  opacity: 1;
}

.random-description {
  margin-top: 0.5rem;
}

.course-news-card {
  position: relative;
  overflow: hidden;
}

.course-news-card-title {
  position: absolute;
  bottom: 2rem;
  left: 0;
  padding: 1rem;
  color: #fff;
  opacity: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.course-news-card-text {
  position: absolute;
  bottom: 1rem;
  left: 0;
  padding: 1rem;
  color: #fff;
  opacity: 0;
  overflow: hidden;
  max-height: 5em;
  line-height: 1.25em;
  text-overflow: ellipsis;
}

.course-news-card:hover .card-overlay {
  opacity: 1;
}

.course-news-card:hover .course-news-card-title,
.card-overlay:hover .course-news-card-title {
  opacity: 1;
  bottom: 5rem;
  transition:
    bottom 0.5s ease,
    opacity 0.3s ease;
}

.card-overlay:hover .course-news-card-text {
  opacity: 1;
  transition: opacity 2s ease;
}
