/* Error: expected "}".
 *     ,
 * 396 | }
 *     |  ^
 *     '
 *   scss\sections\_home.scss 396:2  @use
 *   scss\style.scss 10:1            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "}".\a     \2577 \a 396 \2502  }\d\a     \2502   ^\a     \2575 \a   scss\\sections\\_home.scss 396:2  @use\a   scss\\style.scss 10:1            root stylesheet';
}
